{
	"compilerOptions": {
		// https://www.totaltypescript.com/tsconfig-cheat-sheet
		/* transpiling */
		"lib": ["ES2023", "DOM"],
		"moduleResolution": "bundler",
		"module": "ESNext",
		/* base options */
		"esModuleInterop": true,
		"skipLibCheck": true,
		"target": "ES2022",
		"allowJs": true,
		"resolveJsonModule": true,
		/* strictness */
		"strict": true,
		"alwaysStrict": true,
		"noImplicitAny": true,
		"noImplicitOverride": true,
		"noUncheckedIndexedAccess": true,
		"strictNullChecks": true,
		"noImplicitThis": true,
		/* other */
		"noEmit": true,
		"allowSyntheticDefaultImports": true,
		"removeComments": true,
		"preserveConstEnums": true,
		"forceConsistentCasingInFileNames": true,
		"types": ["node"]
	},
	"include": ["**/*.ts"],
	"exclude": ["coverage", "dist", "node_modules"],
	"typeAcquisition": {
		"enable": true
	}
}
