{
	"extends": "./tsconfig.json",
	"compilerOptions": {
		"noEmit": false,
		"outDir": "./dist",
		"rootDir": ".",
		"declaration": true,
		"declarationDir": "./dist/types",
		"declarationMap": true,
		"sourceMap": true,
		"inlineSources": true,
		"types": ["node"]
	},
	"exclude": ["**/*.spec.ts", "coverage", "dist", "node_modules", "vite.config.ts"],
	"files": ["index.ts"]
}
